<% include ../base-top.ejs %>

<div class="container forgot-pass-section">
    <div class="row">
        <div class="col-md-8">
            <% if (locals.error) { %>
            <div class="alert-warning alert">
                <strong><%= error %></strong>
            </div>
            <% } %>
            <form action="/forgot-password" method="post" role="form" class="form-horizontal">
                <div class="form-group">
                    <label for="email" class="control-label col-md-3">邮箱：</label>
                    <div class="col-md-5">
                        <input type="email" class="form-control" name="email" size="30" value=""/>
                        <p>请使用您注册时，所用的邮箱。</p>
                    </div>
                </div>
                <div class="form-action">
                    <div class="col-md-3"></div>
                    <input type="submit" class="btn btn-info" value="提交"/>
                </div>
            </form>
        </div>
    </div>
</div>
<% include ../base-bottom.ejs %>