<% include ../base-top.ejs %>
<% include ../common/header.ejs %>
<div class="container forgot-pass-section">
    <div class="row">
        <div class="col-md-6">
            <% if (locals.error) { %>
            <div class="alert-warning alert">
                <strong><%= error %></strong>
            </div>
            <% } %>
            <div class="forgot-pass-form">
                <div class="sign-form-header">
                    <h3>忘记密码</h3>
                </div>
                <div class="sign-form-content">
                    <form action="/forgot-password" method="post" role="form" class="form-horizontal">
                        <div class="form-group">
                            <label for="email" class="control-label col-sm-3">邮箱：</label>
                            <div class="col-sm-9">
                                <input type="email" class="form-control" name="email" size="30" value=""
                                       placeholder="请使用您注册时，所用的邮箱。"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3 col-sm-offset-3">
                                <input type="submit" class="btn btn-info form-control" value="提交"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../common/footer.ejs %>
<% include ../base-bottom.ejs %>