<% include ../base-top.ejs %>
<link rel="stylesheet" href="/stylesheets/css/bootstrap.min.css"/>
<link href="/stylesheets/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="/stylesheets/css/style.css"/>
<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
<link href="http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic" media="screen" rel="stylesheet" type="text/css" />
<title>Jokes of Day</title>
</head>
<body>
<% include ../header.ejs %>
<div class="container reset-pass-section">
    <div class="row">
        <div class="col-md-8">
            <% if (locals.error) { %>
            <div class="alert alert-danger">
                <strong><%= error %></strong>
            </div>
            <% } %>
            <form action="/reset-password" method="post" class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="pass" class="control-label col-md-3">新密码：</label>
                    <div class="col-md-5">
                        <input type="password" class="form-control" name="pass" size="30" value=""/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="repass" class="control-label col-md-3">确认密码：</label>
                    <div class="col-md-5">
                        <input type="password" class="form-control" name="repass" size="30" value=""/>
                    </div>
                </div>
                <!-- there should be put hidden fields of name and key, they are used by reset password -->
                <input type="hidden" name="name" value="<%= name %>"/>
                <input type="hidden" name="key" value="<%= key %>"/>
                <div class="form-action">
                    <div class="col-md-3"></div>
                    <input type="submit" class="btn btn-info" value="确认"/>
                </div>
            </form>
            <div class="back-to-home">
                <a href="/">Learn more</a> about Joke of Day
            </div>
        </div>
    </div>
</div>
<% include ../common/footer.ejs %>
<script src="/javascripts/js/jquery.min.js"></script>
<script src="/javascripts/js/bootstrap.min.js"></script>
</body>
<% include ../base-bottom.ejs %>