<!DOCTYPE html>
<html>
<head>
    <% include ../meta.ejs %>
    <link rel="stylesheet" href="css/assets/site.min.css"/>
    <link rel="stylesheet" href="css/assets/sign.css"/>
    <link rel="stylesheet" href="css/assets/header.css"/>
    <link rel="stylesheet" href="css/font-awesome.min.css"/>
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/animatecss/3.1.0/animate.css">
</head>
<body class="signup-body">
    <div class="blur-wrap"></div>
    <% include ../common/header.ejs %>
    <div class="register-form">
        <div class="form-title">
            <h4>欢迎注册</h4>
        </div>
        <form  role="form" action="/signup" method="post">
            <% if (locals.error) { %>
            <div class="form-group">
                <div class="alert alert-warning">
                    <strong><%= locals.error %></strong>
                </div>
            </div>
            <% } %>
            <% if (locals.success) { %>
            <div class="form-group">
                <div class="alert alert-success">
                    <strong><%= locals.success %></strong>
                </div>
            </div>
            <% } %>
            <div class="form-group">
                <label for="username" class="control-label">用户名</label>
                <input type="text" class="form-control" name="name" placeholder="用户名由字母和数字组成" size="20"
                data-anijs="if:focus, do:swing animated, after: removeAnim, to:.register-form">
            </div>
            <div class="form-group">
                <label for="email" class="control-label">邮箱</label>
                <input type="email" class="form-control" name="email" placeholder="请输入正确的邮箱地址"
                data-anijs="if:focus, do:wobble animated, after: removeAnim, to:.register-form">
            </div>
            <div class="form-group">
                <label for="password" class="control-label">密码</label>
                <input type="password" class="form-control" name="pass" placeholder="密码至少6位" size="30"
                data-anijs="if:focus, do:pulse animated, after: removeAnim, to:.register-form">
            </div>
            <div class="form-group">
                <label for="password" class="control-label">确认密码</label>
                <input type="password" class="form-control" name="repass" placeholder="再次输入密码" size="30"
                data-anijs="if:focus, do:tada animated, after: removeAnim, to:.register-form">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-info">注册</button>
                <a class="link-signin" href="/signin">已有账户，直接登录</a>
          </div>
      </form>
  </div>
    <script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <script src="js/utils/site.min.js"></script>
    <script src="js/utils/anijs-min.js"></script>
</body>
</html>