<!DOCTYPE html>
<html>
<head>
    <% include ../meta.ejs %>
    <link rel="stylesheet" href="css/assets/site.min.css"/>
    <link rel="stylesheet" href="css/assets/sign.css"/>
    <link rel="stylesheet" href="css/assets/header.css"/>
    <link rel="stylesheet" href="css/font-awesome.min.css"/>
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/animatecss/3.1.0/animate.css">
</head>
<body class="signin-body">
<div class="blur-wrap"></div>
<% include ../common/header.ejs %>
<section class="login-form">
      <div class="form-title">
          <h4>登录</h4>
      </div>
      <form  role="form" action="/signin" method="post">
          <% if (locals.error) { %>
          <div class="form-group">
              <div class="alert alert-warning">
                  <strong><%= locals.error %></strong>
              </div>
          </div>
          <% } %>
          <div class="form-group">
              <label for="username" class="control-label">用户名</label>
              <input type="text" class="form-control" name="name" size="20" data-anijs="if:focus, do:swing animated, after: removeAnim, to:.login-form">
          </div>
          <div class="form-group">
              <label for="password" class="control-label">密码</label>
              <input type="password" class="form-control" name="pass" size="30" data-anijs="if:focus, do:shake animated, after: removeAnim, to:.login-form">
          </div>
          <div class="form-group">
              <button type="submit" class="btn btn-info">登录</button>
              <a class="link-signin" href="/signup">还没账户，点击注册</a>
              <a class="link-forget" href="/forgot-password">忘记密码？</a>
        </div>
    </form>
</section>
<script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
<script src="js/utils/site.min.js"></script>
<script src="js/utils/anijs-min.js"></script>
</body>
</html>