<% include ../base-top.ejs %>

<div class="container signup-section">
    <div class="row">
        <div class="col-md-5">
            <% if (locals.error) { %>
                <div class="alert alert-warning">
                    <strong><%= error %></strong>
                </div>
            <% } %>
            <% if (locals.success) { %>
                <div class="alert alert-success">
                    <strong><%= success %></strong>
                </div>
            <% } else { %>
            <form action="/signup" role="form" id="signup-form" method="post">
                <!--csrf could be here-->

                <div class="form-group">
                    <label for="name" class="signup-info">用户名：</label>
                    <% if (locals.name) { %>
                    <input type="text" class="form-control" name="name" size="30" value="<%= name %>"/>
                    <% } else { %>
                    <input type="text" class="form-control" name="name" size="30" value=""/>
                    <% } %>
                </div>
                <div class="form-group">
                    <label for="email" class="signup-info">邮箱：</label>
                    <% if (locals.email) { %>
                    <input type="email" class="form-control" name="email" size="30" value="<%= email %>"/>
                    <% } else { %>
                    <input type="email" class="form-control" name="email" size="30" value="">
                    <% } %>
                </div>
                <div class="form-group">
                    <label for="pass" class="signup-info">密码：</label>
                    <input type="password" class="form-control" name="pass" size="30" value=""/>
                </div>
                <div class="form-group">
                    <label for="re_pass" class="signup-info">确认密码：</label>
                    <input type="password" class="form-control" name="repass" size="30" value=""/>
                </div>
                <div class="form-action">
                    <input type="submit" class="btn-primary btn" value="注册"/>
                    <a href="/signin" class="already-signup">已有账号,登录</a>
                </div>
            </form>
            <% } %>
        </div>
    </div>

</div>

<% include ../base-bottom.ejs %>