<!-- load js here -->
<script src="/javascripts/js/jquery.min.js"></script>
<script src="/javascripts/js/bootstrap.min.js"></script>
<script src="/javascripts/js/webuploader.js"></script>
<script src="/javascripts/js/main.js"></script>
</body>
</html>