<!-- load js here -->
<script src="/javascripts/js/jquery.min.js"></script>
<script src="/javascripts/js/bootstrap.min.js"></script>
<script src="/javascripts/js/masonry.pkgd.min.js"></script>
<script src="/js/storyjs-embed.js"></script>
<script src="/javascripts/js/main.js"></script>
</body>
</html>