<% include base-top.ejs %>
<div class="main-section">
    <div id="container" class="container">
        <div class="item box-small">
            <% include common/sidebar.ejs %>
        </div>
        <% include common/jokeitem.ejs %>
    </div>
</div>
<% include common/footer.ejs %>
<% include base-bottom.ejs %>