<% include base-top.ejs %>
<div class="main-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="item box-small" id="left-sidebar">
                    <% include common/sidebar.ejs %>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-1" id="container">
                <% include common/jokeitem.ejs %>
            </div>
        </div>
    </div>
</div>
<% include common/footer.ejs %>
<% include jsfiles.ejs %>
<% include base-bottom.ejs %>