html {
    background-color: #343640;
    background-size: auto !important;
    background-attachment: scroll !important;
    background: url("http://127.0.0.1:3000/images/bg.png") repeat scroll;
    padding: 0;
    font-family: 'PT Sans';
}

.joke-section, .signup-section,
.main-section, .user-page-section,
.signin-section, .forgot-pass-section,
.notify-section, .user-section,
.setting-section, .section-create,
.fans-section, .followings-section,
.messages-section {
    padding: 80px 15px 30px 15px;
}

body {
    background: url("http://127.0.0.1:3000/images/bg.png") repeat scroll;
    padding: 0;
}
.navbar{
    background: url("http://127.0.0.1:3000/images/classy_fabric.png") repeat scroll 0 0 #E3E0EF;
}
.navbar-default .navbar-brand {
    color: #ffffff;
    font-family: "Palatino";
    text-decoration: none;
    margin-left: 30px;
    font-weight: 700;
    font-size: 20px;
}
.navbar-default .navbar-brand:hover {
    color: #ffffff;
}
.navbar-default .navbar-text {
    font-family: 'PT Sans';
    color: #ffffff;
    font-style: italic;
}
.navbar-text a {
    text-decoration: none;
    color: #00b7ee;
}
.hello img {
    margin-top: 10px;
}
.navbar-default .navbar-nav>li>a.sign-out-button {
    background-color:#44c767;
    -moz-border-radius:28px;
    -webkit-border-radius:28px;
    border-radius:28px;
    border:1px solid #18ab29;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:15px;
    padding:6px 19px;
    margin-top: 8px;
    margin-left: 10px;
    margin-right: 50px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
}
.sign-out-button:hover {
    background-color:#5cbf2a;
}
.sign-out-button:active {
    position:relative;
    top:1px;
}
.navbar-default .navbar-nav>li>a.sign-button {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33bdef), color-stop(1, #019ad2));
    background:-moz-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background:-webkit-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background:-o-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background:-ms-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2',GradientType=0);
    background-color:#33bdef;
    -moz-border-radius:26px;
    -webkit-border-radius:26px;
    border-radius:26px;
    border:1px solid #057fd0;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Impact;
    font-size:14px;
    padding:7px 15px;
    margin-top: 8px;
    margin-right: 20px;
    text-decoration:none;
    text-shadow:0px 1px 0px #5b6178;
}
.sign-button:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #019ad2), color-stop(1, #33bdef));
    background:-moz-linear-gradient(top, #019ad2 5%, #33bdef 100%);
    background:-webkit-linear-gradient(top, #019ad2 5%, #33bdef 100%);
    background:-o-linear-gradient(top, #019ad2 5%, #33bdef 100%);
    background:-ms-linear-gradient(top, #019ad2 5%, #33bdef 100%);
    background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#019ad2', endColorstr='#33bdef',GradientType=0);
    background-color:#019ad2;
}
.sign-button:active {
    position:relative;
    top:1px;
}

#container {
    max-width: 850px;
    font-family: 'PT Sans';
    font-size: 14px;
    line-height: 1.5;
    word-wrap: break-word;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
}
.joke-item {
    float: left;
    box-shadow: 0 2px 3px #ccc;
    border-top: 1px solid #ddd;
    border-radius:0px;
    padding: 20px;
    background-color: #ffffff;
    width: 380px;
    margin-bottom: 30px;
}
.joke-item-header {
    padding-bottom: 20px;
}
.author-name {
    padding: 0px;
    margin: 0px;
}
.author-name a {
    color: #000000;
    font-family: "pt sans";
    font-size: 16px;
    text-transform: uppercase;
}
.joke-create-time {
    margin-top: 8px;
    color: #999999;
    font-family: "pt sans";
    font-size: 12px;
 }
.joke-content-content {
    margin-bottom: 15px;
}
.formoid-solid-green label.title{
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #999999;
}
.formoid-solid-green div.submit a {
    color: #999999;
    font-size: 12px;
    text-decoration: none;
    padding-right: 20px;
}
.formoid-flat-green label.title {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #999999;
}
.user-info-top img {
    margin-top: 20px;
}
.caption p {
    padding: 10px 0 10px 10px;
}
.user-info-top h3 a {
    font-family: "Pacifico";
    font-size: 18px;
    text-decoration: none;
    color: #000000;
}
.user-fans {
    text-decoration: none;
    font-size: 16px;
    font-family: "PT Sans";
    font-weight: 700;
    color: #428bca;
}
.user-fans:hover {
    text-decoration: none;
    color: #428bca;
}
.user-followings {
    text-decoration: none;
    font-size: 16px;
    font-family: "PT Sans";
    color: #b71a1a;
    font-weight: 700;
}
.user-followings:hover {
    text-decoration: none;
    color: #b71a1a;
}
.user-score {
    text-decoration: none;
    font-size: 16px;
    font-family: "PT Sans";
    color: #2e8736;
    font-weight: 700;
}
.user-score:hover {
    text-decoration: none;
    color: #2e8736;
}
.joke-create-bar {
    padding-bottom: 15px;
    padding-top: 10px;
}
.user-card {
    background-color: #ffffff;
    border: 1px solid #dddddd;
}
.user-card .thumbnail {
    border: none;
}
.not-read-message span {
    color: #ffffff;
    background-color: red;
}
.zero-not-read-message span {
    color: #ffffff;
    background-color: #999999;
}
.dropzone {
    padding: 0;
}
.dropzone .dz-default.dz-message {
    top:80%;
}

#joke-create-submit {
	-moz-box-shadow: 3px 4px 0px 0px #276873;
	-webkit-box-shadow: 3px 4px 0px 0px #276873;
	box-shadow: 3px 4px 0px 0px #276873;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));
	background:-moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-o-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99',GradientType=0);
	background-color:#599bb3;
	-moz-border-radius:18px;
	-webkit-border-radius:18px;
	border-radius:18px;
	border:1px solid #29668f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
    margin-right: 15px;
    margin-top: 15px;
}
#joke-create-submit:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3));
	background:-moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-o-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3',GradientType=0);
	background-color:#408c99;
}
#joke-create-submit:active {
	position:relative;
	top:1px;
}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    background-color: #262626;
}
#navigation-bar {
    margin-left: 10px;
    background-color: #262626;
}
.bar-button {
    min-width: 100px;
    background-color: #262626;
}
.navbar-default .navbar-nav>li>a.bar-button:hover {
    background-color: #262626;
}
.bar-button i {
    font-size: 20px;
    color: #ffffff;
}
.bar-button strong {
    color: #ffffff;
    margin-left: 15px;
}
.navbar-nav>li>.dropdown-menu {
    padding-top: 0;
    padding-bottom: 0;
}
#fun-bar li:hover, #fun-bar li a:hover {
    background-color: #d2322d;
    color: #ffffff;
}
#fun-bar li {
    background-color: #262626;
    position: relative;
    min-width: 220px;
}
#fun-bar li a {
    display: block;
    height: 48px;
    line-height: 48px;
    padding: 0 20px;
    color: #ffffff;
    text-decoration: none;
}

#fun-bar li span {
    background-color: #428bca;
    color: #ffffff;
}
#fun-bar li i {
    padding-right: 10px;
    width: 30px;
}
#search-form {
    padding: 0 20px;
    height: 48px;
    display: inline-block;
    color: #ffffff;
    width: 100%;
}
#search-form div {
    height: 48px;
    padding: 10px 0 10px 0;
    width: 100%;
}
#search-form div input {
    background: 0;
    border: 0;
    border: none;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 1px;
    height: 28px;
}
#search-form div input:focus {
    outline: 0;
}

#user-navigation-bar {
    list-style-type: none;
    padding: 0;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin:10px 0 0 0;
    letter-spacing: 1px;
    border-radius: 0 0 6px 6px;
}
#user-navigation-bar li {
    background-color: #262626;
    margin-top: 1px;
    position: relative;
}
#user-navigation-bar li:first-child {
    border-radius: 6px 6px 0 0;
}
#user-navigation-bar li:last-child {
    border-radius: 0 0 6px 6px;
}
#user-navigation-bar li a {
    display: block;
    height: 48px;
    line-height: 48px;
    padding: 0 20px;
    color: #ffffff;
    text-decoration: none;
}
#user-navigation-bar li:hover {
    background-color: #d2322d;
}
#user-navigation-bar li span {
    background-color: #d2322d;
    color: #ffffff;
}
#user-navigation-bar li i {
    padding-right: 10px;
    width: 30px;
}

.joke-item-head .col-lg-2, .joke-item-head .col-lg-10 {
    padding-top: 10px;
}

.user-info-top h3 {
    margin-top: 13px;
    margin-bottom: 0;
}
.user-info-top h4 {
    margin-top: 5px;
}
.user-info-top h4 ul li a {
    font-size: 13px;
}
.user-info-intro {
    padding: 5px;
}

.user-profile {
    font-family: "PT Sans";
    color: #ffffff;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 13px;
}



.user-info .avatar {
    display: block;
    width: 100%;
    border-radius: 6px 6px 0 0;
    max-height: 260px;
}
.info-content {
    position: relative;
    padding: 20px;
    background-color: #262626;
    border-radius: 0 0 6px 6px;
}
.info-content h1 {
    font-size: 18px;
    font-family: 'PT Sans';
}
.info-content h1 a {
    color: #ffffff;
    text-decoration: none;
}

.info-data ul li {
    padding-right: 10px;
}

.info-data ul li a i {
    padding-right: 10px;
}

.item {
    margin-bottom: 30px;
    background-color: #ffffff;
    border-radius: 6px;
}

.back-to-home {
    margin-top: 15px;
    padding-left: 105px;
    color: #5dade2;
    font-family: 'PT Sans';
    font-size: 14px;
    font-style: italic;
}
.back-to-home a {
    color: #00b7ee;
    text-decoration: none;
    font-style: italic;
}
.forgot-pass-part {
    margin-top: 15px;
    padding: 10px;
    text-align: center;
}
.forgot-pass-part a {
    color: #c0c0c0;
    font-size: 14px;
    text-decoration: none;
    padding-left: 20px;
}


.forgot-pass-form {
    border: 1px solid #e1e1e1;
    padding: 20px 60px 20px 60px;
    background-color: #ffffff;
    border-radius: 6px 6px 6px 6px;
}
.message-info table tr td, .message-info table tr td a {
    font-family: "pt sans";
    font-size: 13px;
    text-decoration: none;
    color: #262626;
}
.message-info table tr td a.message-detail {
    color:#00b7ee;
}
/* home page */
#left-sidebar {
    margin: 30px auto 139px auto;
    font-family: 'PT Sans';
    font-size: 14px;
    line-height: 1.5;
    word-wrap: break-word;
}

.author-card-thumbnail {
    float: left;
    width: 60px;
}
.author-card-thumbnail a {
    display: block;
}
.author-card {
    float: left;
    padding: 5px;
}
.author-card-name {
    margin-top: 8px;
}
.author-card-name a {
    color:#f64c3f;
    font-size: 16px;
    text-transform: uppercase;
}

.joke-body, .fans-body, .followings-body,
.messages-body {
    background: url("http://127.0.0.1:3000/images/low_contrast_linen.png") repeat scroll;
    padding: 0;
    margin: 0;
}
.user-page-body {
    background: url("http://127.0.0.1:3000/images/mooning.jpg") repeat scroll;
    padding: 0;
    margin: 0;
 }
.joke-body #container {
    padding: 0;
    margin: 0;
}
.joke-page-content p {
    padding: 20px;
    font-family: "PT Sans";
    font-size: 16px;
}
.joke-page-content ul {
    padding-left: 10px;
}
.post-joke-body {
    background-color: #ffffff;
}
.joke-item-foot {
    margin: 0;
    padding: 0;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    -o-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    -ms-border-radius: 0 0 6px 6px;
}
.joke-item-footer-bar {
    height: 50px;
    background: #262626;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    -o-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    -ms-border-radius: 0 0 6px 6px;
    padding-left: 0;
    padding-right: 0;
}
.joke-item-footer-bar .list-inline>li:first-child {
    padding-left: 27px;
}
.joke-item-footer-bar ul li a {
    color: #ffffff;
    text-decoration: none;
    font-family: "PT Sans";
}
.joke-item-footer-bar ul li a:hover {
    color: #d2322d;
}
.joke-item-footer-bar ul li {
    display: table-cell;
    position: relative;
    padding: 0 45px 0 35px;
    white-space: nowrap;
    height: 48px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 48px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
}
.joke-comments {
    background-color: #ffffff;
    border-radius: 6px 6px 6px 6px;
    min-height: 90px;
}
.joke-comments ul {
    list-style: none;
    padding-left: 10px;
}
.joke-comments ul li {
    min-height: 30px;
    line-height: 30px;
    padding: 0;
}
.joke-comments ul li:nth-child(odd) {
    background-color: #e8e9eb;
}
.joke-comments ul li:last-child {
    margin-top: 20px;
    background-color: #ffffff;
    border-radius: 0 0 6px 6px;
    margin-right: 20px;
}
.joke-comments ul li input {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    max-width: 500px;
}
#new-comment-content {
    float: left;
    width:450px;
    height: 65px;
    margin-left: 10px;
}
#comment-show img {
    padding-left: 10px;
}
#post-comment {
    margin:20px 40px 20px 50px;
}
#cancel-post-comment {
    margin-top: 20px;
    margin-bottom: 20px;
}
.joke-comments h3 {
    margin: 0;
    padding: 10px 0 10px 10px;
    font-size: 18px;
    font-weight: 700;
    font-family: 'PT Sans';
}
.joke-comments a img {
    margin: 5px 10px 5px 10px;
}
.comment-author-name {
    color:#f64c3f;
    text-decoration: none;
    font-size: 12px;
}
.comment-time {
    color: #f64c3f;
    font-size: 12px;
}
.post-header {
    padding-top: 15px;
    padding-left: 15px;
    border-bottom: none;
    background: #ffffff;
    min-height: 50px;
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    -o-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
    -ms-border-radius: 6px 6px 0 0;
}
.post-user-image {
    float: left;
    width: 60px;
    height: 60px;
    margin-right: 15px;
}
.post-attach-link {
    position: absolute;
    bottom: 15px;
    margin-top: 10px;
}
#my-dropzone {
    position: relative;
}
.post-attach {
    background-color: #ffffff;
    padding: 0 15px 15px 15px;
}
.post-attach ul {
    padding-left: 75px;
}
.post-attach ul li {
    color: #222222;
    font-size: 25px;
    margin-right: 15px;
}
.post-attach ul li i.attach-camera {
    color: #00b7ee;
    cursor: pointer;
}
.post-attach ul li i.attach-link {
    color: #ccaa00;
    cursor: pointer;
}
.post-body {
    background-color: #ffffff;
}
.post-link {
    height: 30px;
}
.pager .previous>a {
    float: none;
}
.pager .next>a {
    float: none;
}
.pager li a {
    margin: 20px;
}

.btt {
    display: none;
    position: fixed;
    left: 0;
    bottom: 0;
    -webkit-transform:translateY(4em);
    -ms-transform:translateY(4em);
    transform:translateY(4em);
}



#btt {
    width: 48px;
    height: 48px;
    background: white;
    padding: 7px 0px 0px 0px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 24px;
    box-shadow: 0px 1px 8px 1.5px rgba(0, 0, 0, 0.35), 0px 10px 70px 8px rgba(0, 0, 0, 0.20);
    cursor: pointer;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webkit-transition: background 300ms;
    -moz-transition: background 300ms;
    -ms-transition: background 300ms;
    -o-transition: background 300ms;
    transition: background 300ms;
}
#btt:hover {
    background: #9d9d9d;
    background: rgba(255, 255, 255, 0.6);
}
#btt #rocket path {
    padding-right:15px;
}
#btt #rocket path {
    fill: #bbb;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
}
#btt:hover #rocket path {
    fill: rgba(255, 102, 0, 0.76);
}
@media screen and (min-width:50em) {
    .btt {
        display:block
    }
}
@media screen and (min-width:65em) {
    .btt {
        left:.5em
    }
}
.slide {
    -webkit-transition:all .5s linear;
    -moz-transition:all .5s linear;
    -o-transition:all .5s linear;
    transition:all .5s linear;
}
.slide--reset {
    -webkit-transform:translateY(0);
    -ms-transform:translateY(0);
    transform:translateY(0);
}
.slide--up {
    -webkit-transform:translateY(-4em);
    -ms-transform:translateY(-4em);
    transform:translateY(-4em);
}
.slide--down {
    -webkit-transform:translateY(4em);
    -ms-transform:translateY(4em);
    transform:translateY(4em);
}

.thumbnail-pictures a
{
    display: block;
    float: left;
    margin: 4px;
}
.thumbnail-pictures a img{ border: solid 1px Black; }
.thumbnail-pictures a:hover img{ border: solid 1px #aaa }


/* padding-bottom and top for image */
.mfp-no-margins img.mfp-img {
    padding: 0;
}
/* position of shadow behind the image */
.mfp-no-margins .mfp-figure:after {
    top: 0;
    bottom: 0;
}
/* padding for main container */
.mfp-no-margins .mfp-container {
    padding: 0;
}


/*

for zoom animation
uncomment this part if you haven't added this code anywhere else

*/


.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
	opacity: 0.001; /* chrome opacity transition bug */
-webkit-backface-visibility: hidden;
-webkit-transition: all 0.3s ease-out;
-moz-transition: all 0.3s ease-out;
-o-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
    opacity: 0;
}


