html {
    background-color: #343640;
    background-size: auto !important;
    background-attachment: scroll !important;
    background: url("http://127.0.0.1:3000/images/low_contrast_linen.png") repeat scroll;
    padding: 0;
}
.main-section {
    min-height: 400px;
    max-width: 1400px;
    min-width: 960px;
    position: relative;
}

.signup-section {
    padding-top: 80px;
    padding-bottom: 30px;
}
.signin-section {
    padding-top: 80px;
    padding-bottom: 30px;
}
.forgot-pass-section {
    padding-top: 80px;
}
.notify-section {
    padding-top: 80px;
    padding-bottom: 30px;
}
.user-section {
    padding-top: 80px;
    padding-bottom: 30px;
}
.setting-section {
    padding-top: 80px;
    padding-bottom: 30px;
}
.section-create {
    padding-top: 80px;
    padding-bottom: 30px;
}
.fans-section {
    padding-top: 80px;
}
.followings-section {
    padding-top: 80px;
}
body {
    background: url("http://127.0.0.1:3000/images/low_contrast_linen.png") repeat scroll;
    padding: 0;
}
#container {
    margin-top: 30px;
    font-family: 'PT Sans';
    font-size: 14px;
    line-height: 1.5;
    word-wrap: break-word;
    padding-right: 88px;
}

.user-info .avatar {
    display: block;
    width: 100%;
    border-radius: 6px 6px 0 0;
    max-height: 260px;
}
.info-content {
    position: relative;
    padding: 20px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 0 0 6px 6px;
}
.info-content h1 {
    font-size: 18px;
    font-family: 'PT Sans';
}
.info-content h1 a {
    color: #ffffff;
    text-decoration: none;
}
.user-profile {
    color: #91949d;
    margin: 1em 0;
    margin-bottom: 1.5em;
}
.info-data ul li {
    padding-right: 10px;
}
.info-data ul li a {
    color: #ffffff;
    text-decoration: none;
}
.info-data ul li a i {
    padding-right: 10px;
}
#navigation-bar {
    list-style-type: none;
    padding: 0;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin:0;
    letter-spacing: 1px;
    border-radius: 0 0 6px 6px;
}
#navigation-bar li {
    background-color: rgba(0,0,0,0.5);
    margin-top: 1px;
    position: relative;
}
#navigation-bar li:first-child {
    border-radius: 6px 6px 0 0;
}
#navigation-bar li:last-child {
    border-radius: 0 0 6px 6px;
}
#navigation-bar li a {
    display: block;
    height: 48px;
    line-height: 48px;
    padding: 0 20px;
    color: #ffffff;
    text-decoration: none;
}
#navigation-bar li:hover {
    background-color: #d2322d;
}
#navigation-bar li span {
    background-color: #d2322d;
    color: #ffffff;
}
#navigation-bar li i {
    padding-right: 10px;
    width: 30px;
}
#search-form {
    padding: 0 20px;
    height: 48px;
    display: inline-block;
    color: #ffffff;
    width: 100%;
}
#search-form div {
    height: 48px;
    padding: 10px 0 10px 0;
    width: 100%;
}
#search-form div input {
    background: 0;
    border: 0;
    border: none;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 1px;
    height: 28px;
}

.item {
    margin-bottom: 30px;
}
/* signin form */
.signin-form {
    margin-top: 80px;
    border: 1px solid #e1e1e1;
    padding: 20px 60px 20px 60px;
    background-color: #ffffff;
    height: 320px;
}
.sign-form-header {
    border-bottom: 3px solid #e1e1e1;
    margin-bottom: 20px;
}
.sign-form-header h3 {
    padding: 10px;
    color: #d2322d;
}
.sign-form-content form .form-group {
    margin-top: 20px;
}
.forgot-pass-part a {
    padding-top: 10px;
    color: #c0c0c0;
    font-size: 14px;
    text-decoration: none;
}
/* signin form */
.signup-form {
    margin-top: 80px;
    border: 1px solid #e1e1e1;
    padding: 20px 60px 20px 60px;
    background-color: #ffffff;
}

.forgot-pass-form {
    border: 1px solid #e1e1e1;
    padding: 20px 60px 20px 60px;
    background-color: #ffffff;
}
.setting-form {
    border: 1px solid #e1e1e1;
    padding: 20px 60px 20px 60px;
    background-color: #ffffff;
}
/* home page */
#left-sidebar {
    margin: 30px auto 139px auto;
    font-family: 'PT Sans';
    font-size: 14px;
    line-height: 1.5;
    word-wrap: break-word;
}
.joke-item-head {
    padding-top: 15px;
    padding-left: 15px;
    border-bottom: none;
    height: 80px;
    background: #ffffff;
    color: #000000;
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    -o-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
    -ms-border-radius: 6px 6px 0 0;
    border-bottom: 1px solid #e0e0e0;
}
.author-card-thumbnail {
    float: left;
    width: 60px;
}
.author-card-thumbnail a {
    display: block;
}
.author-card {
    float: left;
    padding: 5px;
}
.author-card-name a {
    color:#f64c3f;
    font-size: 12px;
}
.joke-item-content {
    background-color: #ffffff;
    min-height: 150px;
}

.post-joke-body {
    background-color: #ffffff;
}
.joke-item-foot {
    margin: 0;
    padding: 0;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    -o-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    -ms-border-radius: 0 0 6px 6px;
}
.joke-item-footer-bar {
    height: 50px;
    background: rgba(0,0,0,0.5);
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    -o-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    -ms-border-radius: 0 0 6px 6px;
}
.joke-item-footer-bar a:hover {
    color: #d2322d;
}
.cell {
    display: table-cell;
    position: relative;
    padding: 0 45px 0 35px;
    min-width: 50px;
    white-space: nowrap;
    height: 48px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 48px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
}
.cell a {
    color: #8d8d8d;
    text-decoration: none;
}
.cell-spacer {
    display: table-cell;
    width: 1px;
    height: 1px;
}
.joke-comments {
    background-color: #ffffff;
    border-radius: 6px 6px 6px 6px;
    min-height: 90px;
}

.joke-comments ul li {
    width: 502px;
    min-height: 30px;
    line-height: 30px;
    padding: 0;
}
.joke-comments ul li:nth-child(odd) {
    background-color: #e8e9eb;
}
.joke-comments ul li:last-child {
    margin-top: 20px;
    background-color: #ffffff;
    border-radius: 0 0 6px 6px;
}
.joke-comments ul li input {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 473px;
}
#new-comment-content {
    float: left;
    width:450px;
    height: 65px;
    margin-left: 10px;
}
#comment-show img {
    padding-left: 10px;
}
#post-comment {
    margin:20px 40px 20px 50px;
}
#cancel-post-comment {
    margin-top: 20px;
    margin-bottom: 20px;
}
.joke-comments h3 {
    margin: 0;
    padding: 10px 0 10px 10px;
    font-size: 18px;
    font-weight: 700;
    font-family: 'PT Sans';
}
.joke-comments a img {
    margin: 5px 10px 5px 10px;
}
.comment-author-name {
    color:#f64c3f;
    text-decoration: none;
    font-size: 12px;
}
.comment-time {
    color: #f64c3f;
    font-size: 12px;
}
.post-header {
    padding-top: 15px;
    padding-left: 15px;
    border-bottom: none;
    background: #ffffff;
    min-height: 50px;
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    -o-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
    -ms-border-radius: 6px 6px 0 0;
}
.post-user-image {
    float: left;
    width: 60px;
    height: 60px;
    margin-right: 15px;
}
.post-attach-link {
    position: absolute;
    bottom: 15px;
    margin-top: 10px;
}
#my-dropzone {
    position: relative;
}
.post-attach {
    background-color: #ffffff;
    padding: 0 15px 15px 15px;
}
.post-attach ul {
    padding-left: 75px;
}
.post-attach ul li {
    color: #222222;
    font-size: 25px;
    margin-right: 15px;
}
.post-attach ul li i.attach-camera {
    color: #00b7ee;
    cursor: pointer;
}
.post-attach ul li i.attach-link {
    color: #ccaa00;
    cursor: pointer;
}
.post-body {
    background-color: #ffffff;
}
.post-link {
    height: 30px;
}
.pager .previous>a {
    float: none;
}
.pager .next>a {
    float: none;
}
.pager li a {
    margin: 20px;
}

.btt {
    display: none;
    position: fixed;
    left: 0;
    bottom: 0;
    -webkit-transform:translateY(4em);
    -ms-transform:translateY(4em);
    transform:translateY(4em);
}



#btt {
    width: 48px;
    height: 48px;
    background: white;
    padding: 7px 0px 0px 0px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 24px;
    box-shadow: 0px 1px 8px 1.5px rgba(0, 0, 0, 0.35), 0px 10px 70px 8px rgba(0, 0, 0, 0.20);
    cursor: pointer;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webkit-transition: background 300ms;
    -moz-transition: background 300ms;
    -ms-transition: background 300ms;
    -o-transition: background 300ms;
    transition: background 300ms;
}
#btt:hover {
    background: #9d9d9d;
    background: rgba(255, 255, 255, 0.6);
}
#btt #rocket path {
    padding-right:15px;
}
#btt #rocket path {
    fill: #bbb;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
}
#btt:hover #rocket path {
    fill: rgba(255, 102, 0, 0.76);
}
@media screen and (min-width:50em) {
    .btt {
        display:block
    }
}
@media screen and (min-width:65em) {
    .btt {
        left:.5em
    }
}
.slide {
    -webkit-transition:all .5s linear;
    -moz-transition:all .5s linear;
    -o-transition:all .5s linear;
    transition:all .5s linear;
}
.slide--reset {
    -webkit-transform:translateY(0);
    -ms-transform:translateY(0);
    transform:translateY(0);
}
.slide--up {
    -webkit-transform:translateY(-4em);
    -ms-transform:translateY(-4em);
    transform:translateY(-4em);
}
.slide--down {
    -webkit-transform:translateY(4em);
    -ms-transform:translateY(4em);
    transform:translateY(4em);
}