<% include ../base-top.ejs %>
<div class="container" id="container">
    <div class="item box-small">
        <% include ../common/userbar.ejs %>
    </div>
    <% if (locals.recent_jokes.length > 0) { %>
           <div class="item box-large">
               <div id="my-timeline"></div>
           </div>
    <% } else { %>
        <div class="alert alert-success">
            <strong>Oops!还没有一条没分享，赶快登录分享。</strong>
        </div>
    <% } %>
</div>
<% include ../common/footer.ejs %>
<% include ../jsfiles.ejs %>
<script src="/js/storyjs-embed.js"></script>
<script>
    $(document).ready(function() {
        //timeline
        createStoryJS({
            type: 'timeline',
            debug: false,
            source: 'http://127.0.0.1:3000/userprofile/json/<%= locals.user.name %>.json',
            width: '765',
            height: '500',
            embed_id: 'my-timeline'
        });
    });
</script>
<% include ../base-bottom.ejs %>