<% include ../base-top.ejs %>
<% include ../common/header.ejs %>
<div class="container notify-section">
    <div class="row">
        <div class="col-md-8">
            <% if (locals.error) { %>
            <div class="alert alert-warning">
                <strong><%= error %></strong>
            </div>
            <% } %>
            <% if (locals.success) { %>
            <div class="alert alert-success">
                <strong><%= success %></strong>
            </div>
            <% } %>
        </div>
    </div>
</div>
<% include ../common/footer.ejs %>
<% include ../jsfiles.ejs %>
<% include ../base-bottom.ejs %>