<% include ../base-top.ejs %>
    <link rel="stylesheet" href="/stylesheets/css/bootstrap.min.css"/>
    <link href="/stylesheets/css/font-awesome.min.css" rel="stylesheet">
    <link href="/stylesheets/css/formoid-solid-green.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/css/style.css"/>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic" media="screen" rel="stylesheet" type="text/css" />
    <title>Jokes of Day</title>
</head>
<body>
<% include ../header.ejs %>
<div class="container notify-section">
    <div class="row">
        <div class="col-md-8">
            <% if (locals.error) { %>
            <div class="alert alert-warning">
                <strong><%= error %></strong>
            </div>
            <% } %>
            <% if (locals.success) { %>
            <div class="alert alert-success">
                <strong><%= success %></strong>
            </div>
            <% } %>
        </div>
    </div>
</div>
<% include ../common/footer.ejs %>
<script src="/javascripts/js/jquery.min.js"></script>
<script src="/javascripts/js/bootstrap.min.js"></script>

<% include ../base-bottom.ejs %>