<div class="item box-medium">
    <div class="modal fade" id="postjokemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header post-header">
                    <div class="post-user-image">
                        <img src="<%= locals.current_user.profile_image_url %>" alt="<%= locals.current_user.name %>"
                             title="<%= locals.current_user.name %>" width="50" height="50"
                             class="img-circle img-responsive"/>
                    </div>
                </div>
                <div class="modal-body">
                    <form action="/joke/create" class="dropzone" id="my-dropzone" enctype="multipart/form-data">
                        <div class="post-content">
                            <textarea id="content" rows="4" class="form-control" placeholder="share what's new.." name="content"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="btn-post-photos" data-dismiss="modal" disabled="disabled">Post jokes</button>
                </div>
            </div>
        </div>
    </div>
</div>


