<div class="item box-medium">
    <div class="post-header modal-header">
        <div class="post-user-image">
            <img src="<%= locals.current_user.profile_image_url %>" alt="<%= locals.current_user.name %>"
                 title="<%= locals.current_user.name %>" width="60" height="60"
                 class="img-circle img-responsive"/>
        </div>
        <div class="post-content">
            <textarea id="content" rows="4" class="form-control" placeholder="share what's new.."></textarea>
        </div>
    </div>
    <div class="joke-item-foot modal-footer">
        <div class="joke-item-footer-bar">
            <div class="cell cell-photo">
                <a class="show-photo">
                    <i class="fa fa-camera"></i>  photos
                </a>
            </div>
            <div class="cell-spacer"></div>
            <div class="cell cell-link">
                <a class="btn-plus-like"><i class="fa fa-link"></i>
                    link
                </a>
            </div>
            <div class="cell-spacer"></div>
            <div class="cell cell-share">
                <a><i class="fa fa-share"></i>  share</a>
            </div>
        </div>
    </div>
</div>